<IfModule mod_rewrite.c>
    # 打开Rerite功能
    RewriteEngine On

    # 如果请求的是存在的文件或目录,则直接访问
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # 访问的文件或目录不存在,就请求至 index.php
    RewriteRule . index.php
</IfModule>